/archives/*
/trash/
/output/
/.idea/
/data/completedScansions/
/data/diogenes/latin*
/data/diogenes/19*
/manualAndTesting/hexameter.co*
/manualAndTesting/Agamemnon.txt
/manualAndTesting/Medea.txt
/manualAndTesting/Test.txt
/manualAndTesting/Thyestes.txt
/data/mqdq/clean/
/data/mqdq/dictionaries/
data/mqdq/original/
/__pycache__/